@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove tap highlight for mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Body adjustments */
body {
  @apply md:mb-0;
}

/* Buttons and inputs */
/* Remove default browser outline only on focus for buttons and inputs */
button:focus,
input:focus {
  @apply outline-none;
}


/* Map height for larger screens */
@media screen and (min-width: 640px) {
  .h-map {
    height: calc(100vh - 86px);
  }
}

/* Page transition animation */
.page-transition {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

